@model IEnumerable<Bestallning>


<table class="table table-striped table-bordered">

    <thead>
        <tr>
            <th>Beställningsnummer</th>
            <th>Användarnamn</th>
            <th>Totalbelopp</th>
            <th>Datum</th>
            <th>Levererad</th>
            <th></th>
            <th></th>

        </tr>
    </thead>
    <tbody>

        @foreach (var order in Model)
        {
            <tr>
                <td>@order.BestallningId</td>
                <td>@order.Kund.AnvandarNamn</td>
                <td>@order.Totalbelopp</td>
                <td>@order.BestallningDatum</td>
                <td id="@order.BestallningId">
                    @{
                        if (order.Levererad == true)
                        {
                            <p>Ja</p>
                        }
                        else
                        {
                            <p>Nej</p>
                        }
                }
            </td>
            <td>
                <form asp-controller="Order" asp-action="ChangeOrderStatus" data-ajax="true" data-ajax-method="post" data-ajax-mode="replace" data-ajax-update="#@order.BestallningId">
                    <button class="btn-default" type="submit" style="float: right">Ändra</button>
                    <input type="hidden" name="orderid" value="@order.BestallningId">

                    <select name="status">
                        <option value="true">Levererad</option>
                        <option value="false">Ej levererad</option>
                    </select>
                </form>
            </td>
            <td>
                <a asp-controller="Order" asp-action="DeleteOrder" asp-route-id="@order.BestallningId">Ta bort</a>
            </td>
        </tr>
    }

    </tbody>
</table>
