
@*@model IEnumerable<ApplicationUser>*@

@model UsersViewModel

<div class="container">

    <a asp-controller="Account" asp-action="RegisterUser" class="btn btn-default">Lägg till användare</a>

        <table class="table table-striped table-bordered">
            <caption>Användare</caption>
            <thead>
            <tr>
                <th>Namn</th>
                <th>Användarnamn</th>
                <th>Roll</th>
                <th></th>
            </tr>
            </thead>
            <tbody>

            @foreach (var regularuser in Model.RegularUsers)
            {
                <tr>
                    <td>@regularuser.Name</td>
                    <td>@regularuser.UserName</td>
                    <td>RegularUser</td>
                    <td>
                        <div class="container">
                                <a asp-controller="Account" asp-action="EditUser" asp-route-id="@regularuser.Id" class="btn btn-warning pull-right ">Ändra</a>
                                <a asp-controller="Account" asp-action="RemoveUser" asp-route-id="@regularuser.Id" class="btn btn-danger pull-right">Ta bort</a>
                        </div>
                    </td>
                </tr>
            }
            @foreach (var premiumuser in Model.PremiumUsers)
            {
                <tr>
                    <td>@premiumuser.Name</td>
                    <td>@premiumuser.UserName</td>
                    <td>PremiumUser</td>
                    <td>
                        <div class="container">
                            <a asp-controller="Account" asp-action="EditUser" asp-route-id="@premiumuser.Id" class="btn btn-warning pull-right ">Ändra</a>
                            <a asp-controller="Account" asp-action="RemoveUser" asp-route-id="@premiumuser.Id" class="btn btn-danger pull-right">Ta bort</a>
                        </div>
                    </td>
                </tr>
            }

            </tbody>
        </table>
    
</div>