
@model IEnumerable<Matratt>

<div class="container">


    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Maträtt</th>
                <th>Beskrivning</th>
                <th>Ingredienser</th>
                <th>Pris</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var p in Model)
            {
                <tr>
                    <td>@p.MatrattNamn</td>
                    <td>@p.Beskrivning</td>
                    <td>
                        @foreach (var prod in p.MatrattProdukt)
                        {
                            @prod.Produkt.ProduktNamn
                        }
                    </td>
                    <td>@p.Pris</td>
                    <td>
                        <form asp-action="AddToCart" asp-route-id="@p.MatrattId" asp-controller="Cart" method="post">
                            @*<input type="hidden" asp-for="@p.MatrattId" />*@
                            <span class="card-text p-1">
                                <button type="submit" class="btn btn-success btn-sm pull-right" style="float:right">Lägg till</button>
                            </span>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

  